.counters{
    width: 350px;
    height: 200px;
    border: black 2px solid;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 20px;
}
.count2_box{
    width: 350px;
    height: 200px;
    border: black 2px solid;
    border-radius: 15px;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    margin-top: 20px;
}
.counter_box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:20px;
    }
button{
    text-decoration: none;
    outline: none;
    display: inline-block;
    width: 90px;
    height: 45px;
    line-height: 45px;
    border-radius: 15px;
    margin: 5px 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #3a3736;
    background: #c8c8c8;
    box-shadow: 0 8px 15px rgba(107, 107, 108, 0.1);
    transition: .3s;
}
.btn_border{
    border: black 2px solid;
    border-radius: 15px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100px;
}
.footer{
display: flex;
align-items: center;
justify-content: space-between;
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.values {
    font-weight: 500;
    font-size: 80px;
}
.error{
    color: red;
}
.disabled {
    color: red;
    font-weight: bold;
    border: red 2px solid;
}
.middle{
    display: flex;
    justify-content: center;
}
.value_style{
    font-weight: bold;

}

.counters2 {
    width: 350px;
    height: 85px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin:20px;
}
.allValue {
    width: 350px;

    border-radius: 15px;
    justify-content: center;
    display: flex;

}
.count2{
    display: flex;
    margin: 20px;

}
.value_footer{
    display: flex;

    flex-wrap: wrap;
    justify-content: center;
}
.count2 input{
    text-align: center;
    font-size: 18px;
}

.btn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.spanValue span{
    font-size: 75px;
    padding-bottom: 20px;
}