.counters{
    width: 350px;
    height: 200px;
    border: black 2px solid;
    border-radius: 15px;
    justify-content: space-around;
    align-items: flex-end;
    display: flex;
    margin-top: 20px;
}
.counter_box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:20px;
    }
button{
    text-decoration: none;
    outline: none;
    display: inline-block;
    width: 90px;
    height: 45px;
    line-height: 45px;
    border-radius: 15px;
    margin: 5px 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #3a3736;
    background: #c8c8c8;
    box-shadow: 0 8px 15px rgba(107, 107, 108, 0.1);
    transition: .3s;
}
.btn_border{
    border: black 2px solid;
    border-radius: 15px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100px;
}
.footer{
display: flex;
align-items: center;
justify-content: space-between;
}


.error {
    color: red;
    font-weight: bold;
   }
.btn_error {
    color: red;
    font-weight: bold;
    border: 1px solid;
   }
.count_center {
    display: flex;
    justify-content: center;
    align-items: end;
}
.span_input_btn{
    display: flex;
    flex-wrap: wrap;

    font-style: normal;
    justify-content: flex-end;
}
.btn {
    padding-right: 21px;
}
.span_input {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    padding-bottom: 50px;
}
.span_input_one {
    font-size: 18px;
    padding: 5px;
    text-align: center;
    font-weight: 700;
}
.count_start{
    font-size: 100px;
    display: flex;
    justify-content: center;
}
.count_start_center{

}